// font-size
$fnt-sze: 13pt;

//color
$common-clr: #888;

//font-family
$family: "Lato", sans-serif;

//font-weight
$weight: 400;

//line-height
$line-hght: 1.75em;

//background-color
$common-bg_clr: #fff;

//min-height for .left and .right
$min-hgt:700px;

//font color h2
$clr-h2: #4acaa8;

//container border-top
$brdr-top-cntr: solid 6px #f4f4f4;

//icons
$nth-1: "\f121";
$nth-2: "\f1b3";
$nth-3: "\f02d";
$nth-4: "\f0f4";
$nth-5: "\f0e7";
$nth-6: "\f0c0";

//color for right banner
$fnt-rgh-clr: #fff;

//icons for right footer
$icon-1: "\f099";
$icon-2: "\f39e";
$icon-3: "\f16d";
$icon-4: "\f09b";
$icon-5: "\f0e0";
